body {
    background-image: url("https://images.unsplash.com/photo-1556741495-4a9f3c6935e8?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
    background-repeat: no-repeat;
    background-size: cover;
}

.img {
    height: 3vh;
    position: absolute;
    left: 0; 
}

h1 {
    color: tomato;
    font-style: bold, italic;
}

.jumbotron {
    margin-top: 10em;
    height: 200%;
    background-image: url("https://images.unsplash.com/photo-1508135583552-3a0882cbd2e6?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
}

.img2 {
    margin-top: 1em;
}

.lead {
    margin-left: 3em;
    color: black;
}

.box {
    padding: 1em;
}

.col-12 {
    font-size: 2rem;
}
